.NavHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.NavHeader .BackHomepage {
  position: relative;
  left: -14%;
}
.NavHeader .BackHomepage a {
  text-decoration-style: none;
  color: black;
}
.NavHeader .BackHomepage i {
  font-size: 1em;
}
.NavHeader .logo {
  width: 40%;
}
.NavHeader .logo img {
  background-color: white;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*.restsection {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;

}*/
.restcontainer {
  background-color: #F6F6F6;
  width: 100%;
}

.restgallery {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  /*background-color: bisque;*/
  padding: 10px;
  justify-content: center;
  gap: 40px;
}

.restcard1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  background-position: center;
  border-radius: 10px;
}

.newbox {
  position: relative;
  z-index: 2;
  left: 70%;
  width: 15%;
  border: solid #99E2D0;
  background-color: #99E2D0;
  color: #0d795e;
  padding: 10px;
  margin: 10px;
}

.imagetext {
  display: flex;
  padding: 5px;
  margin: 10px;
  width: 100%;
}

.testing1 {
  width: 50%;
  font-weight: bold;
}

.testing2 {
  font-weight: lighter;
}

.underline {
  width: 15%;
  display: block;
  margin-top: 0.4em;
  border-bottom: 1px solid aqua;
}

.subtext {
  display: flex;
  width: 30%;
  justify-content: left;
}

.heartarea {
  width: 30%;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.heartarea:active, .heartarea:hover .fa-heart {
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  animation: fillUp 1s 1;
}

@keyframes fillUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart {
  font-size: 2em;
  /* font-weight: 400;*/
}

.fa-heart:hover {
  cursor: pointer;
}

.restimage1 {
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 100%;
  background-size: cover;
  height: 200px;
  background-position: center;
  border-radius: 10px;
  justify-content: center;
}

.restimage2 {
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  width: 100%;
  background-size: cover;
  height: 200px;
  background-position: center;
  border-radius: 10px;
  justify-content: center;
}

.restimage3 {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  width: 100%;
  background-size: cover;
  height: 200px;
  background-position: center;
  border-radius: 10px;
  justify-content: center;
}

.restimage4 {
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  width: 100%;
  background-size: cover;
  height: 200px;
  background-position: center;
  border-radius: 10px;
  justify-content: center;
}

.NavHeader {
  background-color: white;
}

.menubanner {
  position: absolute;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.menubanner img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  /*position: relative;
  width: 100%;
  margin: 10%;
  z-index: 1;*/
}

.menubackground {
  width: 100%;
  background-color: rgb(240, 236, 236);
  position: relative;
  border-radius: 40px 40px 0px 0px;
  margin-top: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10%;
}

.menuheading {
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Shrikhand", cursive;
  width: 55%;
}

.menucards {
  width: 100%;
  display: flex;
  /* justify-content: space-between;*/
  align-items: center;
  gap: 40%;
  flex-wrap: wrap;
}

.dishdescr {
  display: flex;
}

.tickbutton {
  position: absolute;
  z-index: 0;
  width: 40%;
  border: none;
}

.tickbox {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 300px;
  opacity: 0;
  transition: opacity 1.5s;
  background-color: aqua;
}

.menus, .entrees {
  width: 100%;
  padding: 0.8em;
  /*background-color: #ccc;*/
}

.dishes {
  position: relative;
  background-color: white;
  height: 5em;
  margin-bottom: 0.8em;
  border-radius: 0.8em;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.dishes .dishname {
  width: -webkit-fill-available;
}
.dishes .ticbox {
  display: flex;
  color: aliceblue;
  height: 100%;
  background-color: darksalmon;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1.6em;
  transform: translateX(100%);
  display: none;
}
.dishes .ticbox i {
  transform: rotate(-180deg);
}
.dishes:active .ticbox {
  transform: translateX(0);
  animation: slideLeft 2s;
  display: flex;
}
.dishes:active .ticbox i {
  transform: rotate(0);
  animation: spin 2.3s;
}

.dishes {
  opacity: 0;
}

.dishes:nth-child(2) {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
}

.dishes:nth-child(3) {
  animation: fadeIn 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.dishes:nth-child(4) {
  animation: fadeIn 1.5s 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.dishdescr {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cost {
  font-weight: bold;
}

.menutitles {
  margin-bottom: 10px;
}

.dishname {
  font-weight: bold;
}

.ingredients {
  border: none;
  font-weight: lighter; /*this doesn't work*/
  background-color: transparent;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: white;
}

.menuheading {
  font-family: Shrikhand, sans-serif;
}

.logo {
  margin: 5px;
  padding: 10px;
  box-shadow: 1px;
  /*  width: 25%;*/
  text-align: center;
}

.Location {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.restaurantdescr {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 35px;
  align-items: center;
}

.webtext {
  font-family: "Roboto";
  text-align: center;
  margin: 0px 15px;
  font-weight: 200;
  font-size: 18px;
}

.locationtext {
  display: inline;
  font-family: "Roboto", "sans-serif";
  padding: 10px;
}

.descrtext {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
}

.explorerbtn {
  font-family: "Roboto";
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 16px;
  border: none;
  justify-self: center;
  justify-items: center;
}
.explorerbtn:hover, .explorerbtn:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
  opacity: 0.8;
}
.explorerbtn--order {
  padding: 20px 20%;
  width: fit-content;
}

.expltext {
  color: white;
}

.instrtext {
  width: 100%;
  text-align: start;
  font-weight: bold;
}

.instructions {
  /*
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  align-items: center;*/
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.instrtext,
.buttoninstr {
  padding: 20px;
}

.buttoninstr {
  display: flex;
  width: 100%;
  /*-moz-column-gap: 30px;*/
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.ingredients {
  text-overflow: ellipsis;
  width: 16em;
  /* display: flex; */
  white-space: nowrap;
  overflow: hidden;
}

.box1 {
  position: relative;
  display: flex;
  padding: 20px;
  margin: 5px;
  margin-left: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6em;
  font-weight: 300;
  min-width: 20%;
  background: rgba(241, 236, 236, 0.867);
  border: none;
  outline: none;
  border-radius: 20px;
  width: 100%;
  /*box-shadow: 2px 2px 2px 2px;*/
  border: none;
}

.boxnr {
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  padding: 0.2em;
}

.box1:hover {
  background: #e4d5f6;
}
.box1:hover i {
  color: #7f00ff;
}

.boxnr {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #7f00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.boxicon {
  padding: 10px;
  color: rgb(80, 76, 76);
}

.boxtext {
  font-weight: bold;
}

footer {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  gap: 0.4em;
}
footer h4 {
  color: white;
  font-family: "Shrikhand";
  margin: 0px;
  text-align: start;
  font-weight: 300;
  margin-bottom: 0.4em;
}

.footertext {
  text-align: start;
  color: white;
}

/*Bastille page*/
.restcontainer,
header,
footer,
.instructions,
.restaurantdescr,
.Location {
  opacity: 0;
  animation: fadeIn 3.5s 1 forwards ease-out;
}

.loader {
  font-size: 10em;
  position: fixed;
  top: 30%;
  left: 30%;
  animation: spin 0.5s infinite, fadeIn 1s 1 forwards reverse, removeBlock 3s 1 forwards;
}

@keyframes removeBlock {
  0% {
    opacity: 1;
  }
  100% {
    scale: 0;
    visibility: hidden;
    display: none;
    z-index: -1;
  }
}
.menucards {
  gap: 0px;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .restcard1 {
    width: 35%;
  }
  .box1 {
    width: 20%;
  }
  .menus {
    width: 30%;
  }
  .menucards {
    gap: 0px;
    height: 100%;
  }
  .NavHeader .logo {
    width: 10%;
  }
  .explorerbtn {
    padding: 20px 40px;
  }
  .menubanner {
    height: 100%;
  }
  .menubackground {
    margin-top: 15%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
