
.dishdescr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cost {
    font-weight: bold;
}

.menutitles {
    margin-bottom: 10px;
}

.dishname {
    font-weight: bold;
}

.ingredients {
    border: none;
    font-weight:lighter; /*this doesn't work*/
    background-color: transparent;

}

.restheading {
    width: 100%;
    padding: 0.5em;
   
   
}

