.NavHeader {
    background-color: white;
}

.menubanner {
    position: absolute;
    width: 100%;
    height: 40vh;
    z-index: -1;
}

.menubanner img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    /*position: relative;
    width: 100%;
    margin: 10%;
    z-index: 1;*/
}

.menubackground {
    width: 100%;
    background-color: rgb(240, 236, 236);
    position: relative;
    border-radius: 40px 40px 0px 0px;
    margin-top: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10%;
}

.menuheading {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Shrikhand', cursive;
    width: 55%;


}

.menucards {
    width: 100%;
    display: flex;
    /* justify-content: space-between;*/
    align-items: center;
    gap: 40%;
    flex-wrap: wrap;
}

.dishdescr {
    display: flex;



}


.tickbutton {
    position: absolute;
    z-index: 0;
    width: 40%;
    border: none;


}

.tickbox {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 300px;
    opacity: 0;
    transition: opacity 1.5s;
    background-color: #99E2D0;


}

.menus, .entrees {
    width: 100%;
        padding: 0.8em;

    /*background-color: #ccc;*/
}


.dishes {
    position: relative;
    background-color: white;
    height: 5em;
    margin-bottom: 0.8em;
    border-radius: 0.8em;
    z-index: 1;
    transition: width 0.5s, height 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .dishname {
        width: -webkit-fill-available;
    }

    .ticbox {
        display: flex;
        color: aliceblue;
        height: 100%;
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
        width: 20%;
        font-size: 1.6em;
        transform: translateX(100%);
        display: none;

        i {
            transform: rotate(-180deg)
        }
    }

    &:active .ticbox {
        transform: translateX(0);
        animation: slideLeft 2s;
        display: flex;

        i {
            transform: rotate(0);
            animation: spin 2.3s,
        }
    }
}

.dishes {
    opacity: 0;
}

.dishes:nth-child(2) {
    animation: fadeIn 1.5s;
    animation-fill-mode: forwards;
}

.dishes:nth-child(3) {
    animation: fadeIn 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;


}

.dishes:nth-child(4) {
    animation: fadeIn 1.5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}
.dishes:nth-child(5) {
    animation: fadeIn 1.5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@keyframes spin {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
        display:inline;
    }
}

