/*.restsection {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    
}*/



.restcontainer {
    background-color: #F6F6F6;
    width: 100%;
}

.restgallery {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    /*background-color: bisque;*/
    padding: 10px;
    justify-content: center;
    gap: 40px;

}




.restcard1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    background-position: center;
    border-radius: 10px;
}

.newbox {
    position: relative;
    z-index: 2;

    left: 74%;
    top: -100%;
    width: 15%;
    border: solid #99E2D0;
    background-color: #99E2D0;
    color: #0d795e;
    padding: 10px;
    margin: 10px;



}

.imagetext {
    display: flex;

    padding: 5px;
    margin: 10px;
    width: 100%;

}

.testing1 {
    width: 50%;
    font-weight: bold;

}

.testing2 {
    font-weight: lighter;
}

.underline {
    width: 15%;
    display: block;
    margin-top: 0.4em;
    border-bottom: 1px solid aqua;
}

.subtext {
    display: flex;
    width: 30%;
    justify-content: left;
}

.heartarea {
    width: 30%;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.heartarea:active,
.heartarea:hover .fa-heart {
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    animation: fillUp 1s 1;

}

@keyframes fillUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

.fa-heart {
    font-size: 2em;
    /* font-weight: 400;*/
}


.fa-heart:hover {
    cursor: pointer;

}




.restimage1 {
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
}


.restimage2 {
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
}

.restimage3 {
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
}

.restimage4 {
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
}